*{
    margin: 0;
}
header{
    background-color: black;
    height: 200px;
}
main{
    background-color: blue;
    height: 400px;
}
footer{
    background-color: white;
    height: 200px;
}
.geek{
    height: 100px;
}
